rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // User profile documents: public read for leaderboard and stats, write & delete enabled for account management
    match /users/{userId} {
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }
    match /mail/{mailId} {
      allow read, write, delete: if true;
    }
  }
}

